.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form_controler {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_controler label {
  margin-bottom: 0.6em;
  font-weight: bold;
}

.form_controler input {
  padding: 0.7em;
  border-radius: 0;
  border: none;
}

.form_controler input::-webkit-inner-spin-button {
  padding: 0.7em;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
}

.form_controler input::placeholder {
  color: #7b7b7b;
}
